.container{
    display: flex;
    width: 100%;
}

.read-container{
    border: 2px solid rgb(212, 201, 224);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    color: rgb(95, 39, 148);
    background-color: rgb(229, 215, 245);
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    .container{
        display: block;
    }

    .read-container{
        width: 200px;
    }

    .bookmarks{
        width: 200px;
    }
}

.allread{
    position: relative;
}

.stick{
    position: sticky;
    top: 35px;
}

.bookmark-section{
    padding: 3px;
    margin-top: 5px;
    border-radius: 5px;
}

.bookmarks{
    background-color: rgb(240, 234, 234);
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}