.each-bookmark{
    background-color: white;
    margin-bottom: 5px;
    margin-right: 0;
    font-size:medium;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

}